<div class="mt-4">
  <h3>Dang khoa hoc</h3>
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="name">Ten khoa hoc</label>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="emailHelp"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="description">Mo ta</label>
      <textarea
        class="form-control"
        id="description"
        aria-describedby="emailHelp"
        name="description"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="videoId">Video ID</label>
      <input
        type="text"
        class="form-control"
        id="videoId"
        aria-describedby="emailHelp"
        name="videoId"
      />
    </div>
    <div class="mb-3">
      <label for="level">Level</label>
      <input
        type="text"
        class="form-control"
        id="level"
        aria-describedby="emailHelp"
        name="level"
      />
    </div>

    <button type="submit" class="btn btn-primary">Them khoa hoc</button>
  </form>
</div>