<nav class="navbar bg-dark navbar-expand-lg body-tertiary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">F8-Education</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">

      </ul>
      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://www.gravatar.com/avatar/4d9cbd428898f2417f5db44b1d9f1080c83b96be4da9deddfd79b27800017485.jpg?s=80&d=mp&r=g"
            alt=""
            class="user-avatar"
          />
          Xuan Kin
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="/courses/create">Dang khoa hoc</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="/me/stored/courses">Khoa hoc cua
              toi</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="/me/stored/courses">Dang xuat</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>