<div class="mt-4">
  <form method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Tu khoa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        aria-describedby="emailHelp"
        placeholder="Nhap tu khoa..."
        name="q"
      />

    </div>
    <div class="mb-3">
      <label for="gender-input" class="form-label">Tu khoa</label>
      <select name="gender" id="gender-input">
        <option value="">----Chon gioi tinh</option>
        <option value="Male">Nam</option>
        <option value="Female">Nu</option></select>

    </div>
    <button type="submit" class="btn btn-primary">Tim kiem</button>
  </form>
</div>